<?xml version='1.0' encoding='utf-8'?>
<plugin id="test-plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>TestPlugin</name><js-module name="TestPlugin" src="www/TestPlugin.js"><clobbers target="cordova.plugins.TestPlugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="TestPlugin"><param name="ios-package" value="TestPlugin" /></feature></config-file><source-file src="src/ios/TestPlugin.swift" /></platform></plugin>
